body {
  font: 12px Arial;
  /*height: 650px;*/
  height: 800px;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(45deg, #013A6B 50%, #004E95 50%);
  padding-top: 20px;
}
h1{
  padding-left: 20px;
  padding-top: 10px;
  color:  #FFED00;
  font-size: 48px;
  margin: 0;

}
.striped{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #1d6ab2;
  background-image: linear-gradient(-180deg, #ecf0f1 25%, transparent 25%, transparent 50%, #ecf0f1 50%, #ecf0f1 75%, transparent 75%, transparent);
  background-size: 12px 14px;
}
.h1graph{
  text-shadow: 2px 0 0 #2F4F4F, -2px 0 0 #2F4F4F, 0 2px 0 #2F4F4F, 0 -2px 0 #2F4F4F, 1px 1px #2F4F4F, -1px -1px 0 #2F4F4F, 1px -1px 0 #2F4F4F, -1px 1px 0 #2F4F4F;
  color:  #fff;
}
path {
  stroke:  	#696969;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#scatter {
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
}

.button {
  margin: 0 auto;
  padding: 10px 23px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5b9aa0;
  border: none;
  border-radius: 13px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #4a7d82}

.button:active {
  background-color: #4a7d82;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

/* The switch - the box around the slider */
.switch {
  transform: translateY(10px);
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.updateButton{
  padding-left: 500px;
}
.toggle{
  padding-left: 50px;
  line-height: 49px;
}
.checkDescription{
  padding-left: 5px;
  text-align: top;
}

#table {
  border-radius: 15px 15px 0px 0px;
  margin: 0 auto;
  width: 960px;
  background-color: #fff;
}

/* Control tools position*/
#graphActions {
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 10px;
  width: 960px;
  position: absolute;
  background-color: #fff;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -7px;
  background-color: #fff;
  opacity: 0.8;
  font-size: 14px;
}

nav {
  padding-left: 30px;
  color: #178acc;
}

footer ul {
  padding:0px;
  margin:0px;
  list-style:none;
}

footer ul li { display: inline; }

footer ul li a {
  padding: 2px 10px;
  margin-right: 20px;
  display: inline-block;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}

footer ul li a:hover {
  background-color:#D6D6D6;
  border-bottom:3px solid #FFED00;
}

.icon {
  background-image: url(../icons/GitHub-Mark-32px.png);
  background-position: right center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding-right: 24px;
}

.handle{
  fill: black;
  fill-opacity:0.6;
}
p{
  margin: 10px;
}
